<%- include('../templates/head'); -%>
<%- include('../templates/header'); -%>
<aside class="spacer left"></aside>

<main class="item-container">
    <% if (item) { %>
        <div class="item-display">
            <h2><%= item.title %></h2>
            <img src="data:<%= item.image.contentType %> ;base64,<%= item.image.data.toString('base64') %>">
        </div>
        <div class="item-info">
            <h1><%= item.title %></h1>
            <ul class="item-details">
                <li>Condition: <%= item.condition %></li>
                <li>Price: $<%= item.price %> | Offers: <%= item.totalOffers %></li>
                <li>Seller: <%= item.seller.firstName + ' ' + item.seller.lastName %></li>
                <li>Details: <%= item.details %></li>
            </ul>
            <div class="offer-container">
                <form class="offerform" action="/items/<%= item._id %>/offer/new" method="POST">
                    <div class="offer-form-group">
                        <input type="text" class="form-control" id="amount" name="amount" placeholder="Amount">
                        <button type="submit" class="btn btn-primary">Make an Offer</button>
                    </div>
                    
                </form>
            </div>
        </div>
    <% } %>
</main>

<aside class="spacer right"></aside>

<%- include('../templates/footer'); -%>